# Server Configuration
NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:5173

# MongoDB
MONGODB_URI=mongodb://localhost:27017/devmind-ai

# JWT Authentication
JWT_SECRET=6810e11a0ce229339e8322393c6bf75fb04e945602cc7105fa2bf64104f9219412bbd72b04e67c87d4145ca414e63fb6cfa9c785fb0f86d1011db60aa641ddf8
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=1216c01a284e8ebd635ba7f3bf4736feaf4cf052ed7cc96db47156905becefcacc38778e1cb6b6791d2cfc0864b12f5e04ff5c1bba1f1b29721d6bfd0b83124a
JWT_REFRESH_EXPIRES_IN=30d

# Cloudinary
CLOUDINARY_CLOUD_NAME=xy9w1f1e
CLOUDINARY_API_KEY=191892973293827
CLOUDINARY_API_SECRET=VgNvktgCsQUk0bl082KeeZpc2dU

# Nodemailer (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=abhinav2005thakur@gmail.com
SMTP_PASS=dkgynhibeuqkyylx
SMTP_FROM=abhinav2005thakur@gmail.com

# Google Groq AI
Groq_API_KEY=your_groq_api_key_here
# GitHub API
GITHUB_TOKEN=your_github_token_here
GITHUB_CLIENT_ID=Ov23liY4LkuMiynacFTM
GITHUB_CLIENT_SECRET=79c3afa7076db0d243648e6b6387f41ee527bffe

# Socket.io
SOCKET_CORS_ORIGIN=http://localhost:5173
